@mixin transition( $params ) {
	-webkit-transition: $params;
	-moz-transition: $params;
	-ms-transition: $params;
	-o-transition: $params;
	transition: $params;
};

@mixin transform( $params ) {
	-webkit-transform: $params;
	-moz-transform: $params;
	-ms-transform: $params;
	-o-transform: $params;
	transform: $params;
};

@mixin boxShadow( $params ) {
	-webkit-box-shadow: $params;
	-moz-box-shadow: $params;
	box-shadow: $params;
}

@mixin borderRadius( $params ) {
	-webkit-border-radius: $params;
	-moz-border-radius: $params;
	border-radius: $params;
}